
body{
background-color:white;
margin:0px;
}


h1{
    margin-left:2%;
    border-bottom:1px solid black;
    text-align:center;
    text-transform:capitalize;
}
.ig1{
    
    width:200px;
    height:200px;
    margin-top:1%;
    margin-left:1%;

}
.ig2{
    width:180px;
    height:200px;
}
.foot{
    background-color:gray;
}
@media only screen and (max-width: 1400px) {
    .imgg{
        text-align:center;
    }
  .ig1{
      
      width:300px;
      height:200px;

  }
}